button{
      
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;

  font-size: 17px;
  border: none;
  cursor: pointer;

  }
  h1{
    text-align: center;
    font-size: 150px;
    color : yellow
  }
  
  body {
/* The image used */
background-image: url("../templates/image/image5.jpg");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
  div.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    
    
    
  }
  
  
  
  
  