<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" contents="width=device-width, initial-scale=1.0">
        <title>Account</title>
    </head> 
    <body>
        <h3>Login Successful !!</h3>
        <form action="{{url_for('logout')}}">
            <button type="submit" class="btn btn-secondary btn-lg">Logout</button>
        </form>
        <br/>
        <form action="{{url_for('review')}}">
            <button type="submit" class="btn btn-secondary btn-lg">Review</button>
        </form>
    </body>
</html>